In [195]:
#import modules
import pandas as pd
import numpy as np
import sqlite3 as sql
import json

In [196]:
#Read the csv file into pandas dataframe
file = pd.read_csv("C:\Users\Tolu\Downloads\HateCrimes_csv.csv")
file.head()

,State,Agency_type,Agency_name,Ethnicity,Disability,Gender,Gender_Identity
0,Alabama,Cities,Florence,0,0,0,0
1,Alabama,Cities,Hoover,0,0,0,0
2,Alabama,Cities,Prattville,0,0,0,0
3,Alabama,Cities,Tuscaloosa,0,0,0,0
4,Alaska,Cities,Anchorage,0,0,0,0

In [24]:
#Confirm number of columns and rows for the csv file
file.shape

(1826, 7)

In [198]:
#Read the json file into pandas dataframe
file_json = pd.read_json("C:\Users\Tolu\Downloads\HateCrimes_json.json")
file_json

,Agency_name,Agency_type,Population,State,quarter_1,quarter_2,quarter_3,quarter_4
0,Florence,Cities,39481,Alabama,0,1,0,1
1,Hoover,Cities,84139,Alabama,0,1,0,0
2,Prattville,Cities,35154,Alabama,1,0,1,0
3,Tuscaloosa,Cities,94126,Alabama,0,0,1,0
4,Anchorage,Cities,299455,Alaska,2,3,3,0
5,Apache Junction,Cities,36626,Arizona,1,0,0,0
6,Avondale,Cities,78905,Arizona,1,1,3,0
7,Eagar,Cities,5034,Arizona,0,1,0,0
8,El Mirage,Cities,32837,Arizona,0,0,1,0
9,Gilbert,Cities,225232,Arizona,1,0,0,0
10,Glendale,Cities,234006,Arizona,2,0,3,2
11,Goodyear,Cities,71048,Arizona,1,0,1,0
12,Maricopa,Cities,44871,Arizona,0,0,0,1
13,Mesa,Cities,456155,Arizona,2,0,0,0
14,Phoenix,Cities,1502139,Arizona,25,21,35,0
15,Prescott,Cities,40752,Arizona,0,0,0,1
16,Scottsdale,Cities,225523,Arizona,0,0,0,2
17,Tempe,Cities,168501,Arizona,2,0,1,0
18,Tucson,Cities,525486,Arizona,8,8,6,4
19,Yuma,Cities,96014,Arizona,3,5,0,2
20,Northern Arizona University,Universities and Colleges,25991,Arizona,0,0,0,1
21,University of Arizona,Universities and Colleges,40223,Arizona,2,0,0,0
22,Cochise,Metropolitan Counties,0,Arizona,0,0,0,1
23,Maricopa,Metropolitan Counties,0,Arizona,0,0,0,2
24,Pima,Metropolitan Counties,0,Arizona,0,0,0,3
25,Yuma,Metropolitan Counties,0,Arizona,0,1,0,1
26,Bentonville,Cities,39132,Arkansas,0,0,1,0
27,Berryville,Cities,5417,Arkansas,0,0,1,0
28,Cabot,Cities,24695,Arkansas,0,0,1,0
29,England,Cities,2806,Arkansas,0,1,0,0
...,...,...,...,...,...,...,...,...
1796,Moundsville,Cities,9130,West_Virginia,0,0,0,1
1797,Oak Hill,Cities,7709,West_Virginia,0,6,8,0
1798,Wellsburg,Cities,2760,West_Virginia,0,0,1,0
1799,Brooke,Metropolitan Counties,0,West_Virginia,1,1,2,0
1800,Fayette,Metropolitan Counties,0,West_Virginia,0,0,1,1
1801,Hancock,Metropolitan Counties,0,West_Virginia,0,0,1,1
1802,Harrison,Nonmetropolitan Counties,0,West_Virginia,0,0,2,2
1803,McDowell,Nonmetropolitan Counties,0,West_Virginia,0,1,0,0
1804,Algoma,Cities,3143,Wisconsin,0,0,2,0
1805,Appleton,Cities,73141,Wisconsin,0,2,0,0
1806,Burlington,Cities,10502,Wisconsin,0,0,0,1
1807,Fond du Lac,Cities,43042,Wisconsin,0,1,0,1
1808,Green Bay,Cities,105107,Wisconsin,1,0,1,0
1809,Janesville,Cities,63603,Wisconsin,0,1,1,0
1810,La Crosse,Cities,51741,Wisconsin,0,1,1,0
1811,Madison,Cities,242523,Wisconsin,3,5,2,2
1812,Merrill,Cities,9427,Wisconsin,0,1,0,0
1813,Milwaukee,Cities,600805,Wisconsin,1,3,4,1
1814,Oak Creek,Cities,35046,Wisconsin,2,0,0,0
1815,River Falls,Cities,15227,Wisconsin,2,0,0,0
1816,Sparta,Cities,9623,Wisconsin,0,1,0,0
1817,Wausau,Cities,39176,Wisconsin,1,0,0,0
1818,"""University of Wisconsin",Universities and Colleges,0,Wisconsin,0,3,0,0
1819,Dane,Metropolitan Counties,0,Wisconsin,1,0,0,0
1820,Burnett,Nonmetropolitan Counties,0,Wisconsin,0,0,0,1
1821,Grant,Nonmetropolitan Counties,0,Wisconsin,0,1,0,0
1822,Lincoln,Nonmetropolitan Counties,0,Wisconsin,1,0,0,0
1823,Manitowoc,Nonmetropolitan Counties,0,Wisconsin,0,1,0,0
1824,Oneida,Nonmetropolitan Counties,0,Wisconsin,0,1,0,0
1825,Gillette,Cities,31884,Wyoming,0,0,1,0

In [199]:
#Confirm number of columns and rows for the json file
file_json.shape

(1826, 8)

In [97]:
#Set a variable for the .db file
hate_sql = "C:/Users/Tolu/Downloads/hatecrimes.db"

In [200]:
#Connecting the sql 
conn = sql.connect(hate_sql)

In [201]:
#create a cursor function for the .db file
c = conn.cursor()

In [202]:
# Executing sql query to select data from the crimes table in the .db file
data_1 = c.execute('SELECT * FROM crimes')

In [203]:
# Getting the data into python
data_2 = data_1.fetchall()

In [205]:
# Turning sql data frame into pandas and display data_3
data_3 = pd.DataFrame(data_2)
data_3

,0,1,2,3,4,5
0,Alabama,Cities,Florence,2,0,0
1,Alabama,Cities,Hoover,0,0,1
2,Alabama,Cities,Prattville,2,0,0
3,Alabama,Cities,Tuscaloosa,1,0,0
4,Alaska,Cities,Anchorage,8,0,0
5,Arizona,Cities,Apache Junction,1,0,0
6,Arizona,Cities,Avondale,4,0,0
7,Arizona,Cities,Eagar,0,0,0
8,Arizona,Cities,El Mirage,1,0,0
9,Arizona,Cities,Gilbert,1,0,0
10,Arizona,Cities,Glendale,2,3,1
11,Arizona,Cities,Goodyear,0,0,2
12,Arizona,Cities,Maricopa,1,0,0
13,Arizona,Cities,Mesa,1,1,0
14,Arizona,Cities,Phoenix,40,12,14
15,Arizona,Cities,Prescott,0,0,0
16,Arizona,Cities,Scottsdale,0,1,0
17,Arizona,Cities,Tempe,1,0,2
18,Arizona,Cities,Tucson,13,6,6
19,Arizona,Cities,Yuma,3,4,0
20,Arizona,Universities and Colleges,Northern Arizona University,0,0,1
21,Arizona,Universities and Colleges,University of Arizona,2,0,0
22,Arizona,Metropolitan Counties,Cochise,0,1,0
23,Arizona,Metropolitan Counties,Maricopa,1,1,0
24,Arizona,Metropolitan Counties,Pima,1,1,1
25,Arizona,Metropolitan Counties,Yuma,1,0,0
26,Arkansas,Cities,Bentonville,1,0,0
27,Arkansas,Cities,Berryville,1,0,0
28,Arkansas,Cities,Cabot,1,0,0
29,Arkansas,Cities,England,1,0,0
...,...,...,...,...,...,...
1796,West_Virginia,Cities,Moundsville,1,0,0
1797,West_Virginia,Cities,Oak Hill,14,0,0
1798,West_Virginia,Cities,Wellsburg,1,0,0
1799,West_Virginia,Metropolitan Counties,Brooke,4,0,0
1800,West_Virginia,Metropolitan Counties,Fayette,1,0,1
1801,West_Virginia,Metropolitan Counties,Hancock,2,0,0
1802,West_Virginia,Nonmetropolitan Counties,Harrison,1,1,2
1803,West_Virginia,Nonmetropolitan Counties,McDowell,1,0,0
1804,Wisconsin,Cities,Algoma,1,1,0
1805,Wisconsin,Cities,Appleton,0,0,2
1806,Wisconsin,Cities,Burlington,1,0,0
1807,Wisconsin,Cities,Fond du Lac,1,0,0
1808,Wisconsin,Cities,Green Bay,1,0,1
1809,Wisconsin,Cities,Janesville,2,0,0
1810,Wisconsin,Cities,La Crosse,0,0,2
1811,Wisconsin,Cities,Madison,3,1,3
1812,Wisconsin,Cities,Merrill,0,0,0
1813,Wisconsin,Cities,Milwaukee,5,1,3
1814,Wisconsin,Cities,Oak Creek,0,1,0
1815,Wisconsin,Cities,River Falls,2,0,0
1816,Wisconsin,Cities,Sparta,1,0,0
1817,Wisconsin,Cities,Wausau,1,0,0
1818,Wisconsin,Universities and Colleges,"University of Wisconsin, Platteville",0,1,2
1819,Wisconsin,Metropolitan Counties,Dane,1,0,0
1820,Wisconsin,Nonmetropolitan Counties,Burnett,0,0,1
1821,Wisconsin,Nonmetropolitan Counties,Grant,1,0,0
1822,Wisconsin,Nonmetropolitan Counties,Lincoln,0,0,1
1823,Wisconsin,Nonmetropolitan Counties,Manitowoc,1,0,0
1824,Wisconsin,Nonmetropolitan Counties,Oneida,1,0,0
1825,Wyoming,Cities,Gillette,0,0,0

In [109]:
#Confirm number of columns and rows for the crimes data
data_3.shape

(1826, 6)

In [206]:
#Change column headers of crimes data to match the header of the json and csv file
data_3.columns = ['State', 'Agency_type', 'Agency_name', 'Total_3', 'Total_4', 'Total_5']

In [207]:
#Check header of crimes data
data_3.head()

     State Agency_type Agency_name  Total_3  Total_4  Total_5
0  Alabama      Cities    Florence        2        0        0
1  Alabama      Cities      Hoover        0        0        1
2  Alabama      Cities  Prattville        2        0        0
3  Alabama      Cities  Tuscaloosa        1        0        0
4   Alaska      Cities   Anchorage        8        0        0

In [208]:
#Merge csv data with the json data 
new_data = pd.merge(dude, file,on=('Agency_name', 'Agency_type', 'State'), how='inner')
new_data.head()

,Agency_name,Agency_type,Population,State,quarter_1,quarter_2,quarter_3,quarter_4,Ethnicity,Disability,Gender,Gender_Identity
0,Florence,Cities,39481,Alabama,0,1,0,1,0,0,0,0
1,Hoover,Cities,84139,Alabama,0,1,0,0,0,0,0,0
2,Prattville,Cities,35154,Alabama,1,0,1,0,0,0,0,0
3,Tuscaloosa,Cities,94126,Alabama,0,0,1,0,0,0,0,0
4,Anchorage,Cities,299455,Alaska,2,3,3,0,0,0,0,0

In [209]:
#confirm number of rows and columns in the merged data
new_data.shape

(1828, 12)

In [210]:
#merge the crimes data with the original merged data
final_data = pd.merge(new_data, data_3 ,on=('Agency_name', 'Agency_type', 'State'), how='inner')
final_data.head()

,Agency_name,Agency_type,Population,State,quarter_1,quarter_2,quarter_3,quarter_4,Ethnicity,Disability,Gender,Gender_Identity,Total_3,Total_4,Total_5
0,Florence,Cities,39481,Alabama,0,1,0,1,0,0,0,0,2,0,0
1,Hoover,Cities,84139,Alabama,0,1,0,0,0,0,0,0,0,0,1
2,Prattville,Cities,35154,Alabama,1,0,1,0,0,0,0,0,2,0,0
3,Tuscaloosa,Cities,94126,Alabama,0,0,1,0,0,0,0,0,1,0,0
4,Anchorage,Cities,299455,Alaska,2,3,3,0,0,0,0,0,8,0,0

In [211]:
#output of combining csv, json and .db files
final_data.to_csv('question1.csv', index=False)

In [212]:
#create a variable for a dataframe that will have an additional column that will contain the addition of the crimes
final_data_total = final_data

In [213]:
#create a column to hold the addition of the crimes
final_data_total['Final_Total'] = final_data['quarter_1'] + final_data['quarter_2'] + final_data['quarter_3'] + final_data['quarter_4']

In [214]:
#get the sum of the crimes
final_data_total['Final_Total'].sum()

5869

In [215]:
#create and display dataframe that groups data by Agency_name and crime in each quarter
data_question_two_a = final_data_total.groupby(['Agency_name'])[['quarter_1', 'quarter_2', 'quarter_3', 'quarter_4']].sum()
data_question_two_a

                                    quarter_1  quarter_2  quarter_3  quarter_4
Agency_name
Aberdeen                                    1          1          1          3
Aberdeen Township                           1          6          1          3
Acton                                       0          2          0          1
Ada                                         0          1          0          1
Adams                                       1          0          2          0
Adelanto                                    1          0          1          0
Adrian                                      0          1          0          0
Agoura Hills                                0          2          0          0
Akron                                       3          3          2          0
Alachua                                     1          0          0          0
Alameda                                     0          0          0          1
Albany                                      0          2          1          0
Albemarle                                   0          0          0          1
Albemarle County Police Department          1          5          2          2
Albion                                      0          1          0          0
Albuquerque                                 2          1          6          1
Algoma                                      0          0          2          0
Alhambra                                    0          0          0          1
Allenhurst                                  0          0          1          1
Alliance                                    0          0          1          0
Alpena                                      2          0          0          0
Alpine                                      1          0          0          0
Altoona                                     0          0          1          0
Altus                                       0          1          0          0
Amador                                      0          0          1          0
Amarillo College                            1          0          0          0
Ames                                        0          0          1          1
Amesbury                                    0          1          0          0
Amherst                                     1          0          1          0
Amherst Town                                0          0          1          2
...                                       ...        ...        ...        ...
Windham                                     1          0          0          0
Windsor Locks                               0          1          0          0
Winnsboro                                   2          3          0          1
Wiscasset                                   1          0          0          0
Wolcott                                     0          1          0          0
Woodbridge Township                         0          2          0          1
Woodbury                                    1          0          2          3
Woodbury Heights                            1          0          0          0
Woodhaven                                   0          0          0          1
Woods Cross                                 0          1          0          1
Woodstock                                   0          1          0          0
Woolwich Township                           0          1          0          0
Wooster                                     1          1          0          0
Worcester                                   0          1          1          0
Wrightsville Beach                          0          1          0          0
Wyandotte                                   1          0          0          0
Wyoming                                     1          0          0          1
Xenia                                       1          0          1          1
Yakima                                      1          0          0          2
Yale University                             0          0          0          1
Yamhill                                     0          0          1          1
Yonkers                                     2          0          3          2
Yorba Linda                                 0          0          0          1
York                                        1          1          1          0
Youngstown                                  0          0          1          0
Yuba                                        0          0          1          0
Yuba City                                   0          0          1          0
Yucca Valley                                0          0          1          0
Yuma                                        3          6          0          3
Zanesville                                  1          2          0          1

[1572 rows x 4 columns]

In [218]:
#display % of crimes committed per quarter by Agency and output to csv
data_question_two_a_percent = data_question_two_a/final_data['Final_Total'].sum()*100
data_question_two_a_percent

                                    quarter_1  quarter_2  quarter_3  quarter_4
Agency_name
Aberdeen                             0.017039   0.017039   0.017039   0.051116
Aberdeen Township                    0.017039   0.102232   0.017039   0.051116
Acton                                0.000000   0.034077   0.000000   0.017039
Ada                                  0.000000   0.017039   0.000000   0.017039
Adams                                0.017039   0.000000   0.034077   0.000000
Adelanto                             0.017039   0.000000   0.017039   0.000000
Adrian                               0.000000   0.017039   0.000000   0.000000
Agoura Hills                         0.000000   0.034077   0.000000   0.000000
Akron                                0.051116   0.051116   0.034077   0.000000
Alachua                              0.017039   0.000000   0.000000   0.000000
Alameda                              0.000000   0.000000   0.000000   0.017039
Albany                               0.000000   0.034077   0.017039   0.000000
Albemarle                            0.000000   0.000000   0.000000   0.017039
Albemarle County Police Department   0.017039   0.085193   0.034077   0.034077
Albion                               0.000000   0.017039   0.000000   0.000000
Albuquerque                          0.034077   0.017039   0.102232   0.017039
Algoma                               0.000000   0.000000   0.034077   0.000000
Alhambra                             0.000000   0.000000   0.000000   0.017039
Allenhurst                           0.000000   0.000000   0.017039   0.017039
Alliance                             0.000000   0.000000   0.017039   0.000000
Alpena                               0.034077   0.000000   0.000000   0.000000
Alpine                               0.017039   0.000000   0.000000   0.000000
Altoona                              0.000000   0.000000   0.017039   0.000000
Altus                                0.000000   0.017039   0.000000   0.000000
Amador                               0.000000   0.000000   0.017039   0.000000
Amarillo College                     0.017039   0.000000   0.000000   0.000000
Ames                                 0.000000   0.000000   0.017039   0.017039
Amesbury                             0.000000   0.017039   0.000000   0.000000
Amherst                              0.017039   0.000000   0.017039   0.000000
Amherst Town                         0.000000   0.000000   0.017039   0.034077
...                                       ...        ...        ...        ...
Windham                              0.017039   0.000000   0.000000   0.000000
Windsor Locks                        0.000000   0.017039   0.000000   0.000000
Winnsboro                            0.034077   0.051116   0.000000   0.017039
Wiscasset                            0.017039   0.000000   0.000000   0.000000
Wolcott                              0.000000   0.017039   0.000000   0.000000
Woodbridge Township                  0.000000   0.034077   0.000000   0.017039
Woodbury                             0.017039   0.000000   0.034077   0.051116
Woodbury Heights                     0.017039   0.000000   0.000000   0.000000
Woodhaven                            0.000000   0.000000   0.000000   0.017039
Woods Cross                          0.000000   0.017039   0.000000   0.017039
Woodstock                            0.000000   0.017039   0.000000   0.000000
Woolwich Township                    0.000000   0.017039   0.000000   0.000000
Wooster                              0.017039   0.017039   0.000000   0.000000
Worcester                            0.000000   0.017039   0.017039   0.000000
Wrightsville Beach                   0.000000   0.017039   0.000000   0.000000
Wyandotte                            0.017039   0.000000   0.000000   0.000000
Wyoming                              0.017039   0.000000   0.000000   0.017039
Xenia                                0.017039   0.000000   0.017039   0.017039
Yakima                               0.017039   0.000000   0.000000   0.034077
Yale University                      0.000000   0.000000   0.000000   0.017039
Yamhill                              0.000000   0.000000   0.017039   0.017039
Yonkers                              0.034077   0.000000   0.051116   0.034077
Yorba Linda                          0.000000   0.000000   0.000000   0.017039
York                                 0.017039   0.017039   0.017039   0.000000
Youngstown                           0.000000   0.000000   0.017039   0.000000
Yuba                                 0.000000   0.000000   0.017039   0.000000
Yuba City                            0.000000   0.000000   0.017039   0.000000
Yucca Valley                         0.000000   0.000000   0.017039   0.000000
Yuma                                 0.051116   0.102232   0.000000   0.051116
Zanesville                           0.017039   0.034077   0.000000   0.017039

[1572 rows x 4 columns]

In [220]:
#output % of crimes committed per quarter by Agency and output to csv
data_question_two_a_percent.to_csv('question2a.csv', index=False)

In [221]:
#show agency reporting maximum number of crime
data_question_two_b = final_data_total.groupby(['Agency_type'])['Final_Total'].max()
data_question_two_b

Agency_type
Cities                       314
Metropolitan Counties         87
Nonmetropolitan Counties       5
Other Agencies                17
State Police Agencies          7
Universities and Colleges      8
Name: Final_Total, dtype: int64

In [222]:
#States having the most crimes committed against the most ehtnic group
data_question_three = final_data_total.groupby(['State', 'Ethnicity'])['Final_Total'].max()
data_question_three

State          Ethnicity
Alabama        0              2
Alaska         0              8
Arizona        0              3
               1             26
               3             10
               14            81
Arkansas       0              4
               1              3
California     0             13
               1             43
               2             16
               3              9
               4              7
               9            114
               10            50
Colorado       0              8
               1             30
               2              2
Connecticut    0              6
               1             10
               2              8
               3             11
               6              7
DC             1              2
               3             70
Delaware       0              2
Florida        0             10
               1              3
               2              2
Georgia        0              4
                           ...
Tennessee      0              5
               1             24
               2              5
               4              6
               6             11
               12            17
               36            46
Texas          0              3
               1             11
               2              4
               3              4
               4             18
               5             16
Utah           0              5
               1              5
               3              6
Vermont        0              3
Virginia       0              7
               1             13
Washington     0             11
               1             13
               2             10
               3             10
               6             89
West_Virginia  0             14
               1              8
Wisconsin      0              9
               1              2
               5             12
Wyoming        1              1
Name: Final_Total, dtype: int64

In [223]:
#display total number of crimes committed on the basis of disability
data_question_four = final_data_total.groupby(['Disability'])['Final_Total'].sum()
data_question_four

Disability
0     4818
1      769
2       35
3       94
4       17
12     136
Name: Final_Total, dtype: int64

In [194]:
#display % of crime committed on the basis of disability
data_question_four/final_data['Final_Total'].sum()*100

Disability
0     82.092350
1     13.102743
2      0.596354
3      1.601636
4      0.289658
12     2.317260
Name: Final_Total, dtype: float64